* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #283e4f;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin-top: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #182738;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 660px;
  overflow-x: hidden;
  transition: 0.3s;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
  z-index: 2;
  /* Permite cliques passarem pelo card */
  /* pointer-events: none;  */
}

.card.is-active .card-header {
  height: 80px;
}

.card.is-active .card-cover {
  height: 100px;
  top: -50px;
}

.card.is-active .card-avatar {
  transform: none;
  left: 20px;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

.card.is-active .card-fullname,
.card.is-active .card-jobtitle {
  left: 86px;
  transform: none;
}

.card.is-active .card-fullname {
  bottom: 18px;
  font-size: clamp(18px, 1.8vw + 9px, 18px);
}

.card.is-active .card-jobtitle {
  bottom: 16px;
  letter-spacing: 1px;
  font-size: clamp(10px, 1vw + 5px, 10px);
}

.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.card-header * {
  transition: 0.3s;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
  font-weight: 700;
  font-size: clamp(22px, 2.2vw + 11px, 22px);
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  opacity: 0.7;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: clamp(10px, 1vw + 5px, 10px);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.card-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: clamp(14px, 1.4vw + 7px, 14px);
}

.card-content {
  padding: 20px;
}

.card::-webkit-scrollbar {
  width: 0.1px;
}

.card::-webkit-scrollbar-thumb {
  background: #95b3c7;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card::-webkit-scrollbar-track {
  background: #c6dbe9;
  border-radius: 12px;
}

.card-desc {
  margin: 0;
  color: #43647a;
  font-weight: 400;
  line-height: 1.6;
  font-size: clamp(14px, 1.4vw + 7px, 14px);
}

.card-social {
  display: flex;
  align-items: center;
  padding: 20px 20px 0 20px;
  justify-content: space-evenly;
}

.card-social svg {
  fill: rgb(135, 181, 206);
  width: 16px;
  display: block;
  transition: 0.3s;
}

.card-social a {
  color: #43647a;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: 0.3s;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}

.card-social a:hover svg {
  fill: #698ea4;
  transform: scale(2);
}

.card-social a:last-child {
  margin-right: 0;
}

.card-timeline {
  margin-top: 30px;
  position: relative;
}

.card-timeline:after {
  background: linear-gradient(to top, rgba(134, 214, 243, 0) 0%, #698ea4 100%);
  content: "";
  left: 40px;
  width: 2px;
  top: 0;
  height: 100%;
  position: absolute;
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;
}

.card-item:last-child {
  padding-bottom: 5px;
}

.card-item:after {
  content: attr(data-year);
  position: absolute;
  top: 5px;
  left: 37px;
  width: 8px;
  height: 8px;
  border: 2px solid linear-gradient(to bottom, #43647a 0%, #283e4f 100%);
  border-radius: 50%;
  color: rgba(134, 134, 134, 0.7);
  background: linear-gradient(to bottom, #43647a 0%, #283e4f 100%);
  text-indent: -35px;
  line-height: 0.6;
  font-size: clamp(10px, 1vw + 5px, 10px);
}

.card-item-title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: clamp(14px, 1.4vw + 7px, 14px);
}

.card-item-desc {
  color: #283e4f;
  position: relative;
  font-weight: 400;
  line-height: 1.6;
  font-size: clamp(14px, 1.4vw + 7px, 14px);
}

.card-item-project {
  padding: 0;
  position: relative;
  padding-left: 20px;
  margin-top: 30px;
}

.card-item-project:after {
  content: attr(data-year);
  width: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid linear-gradient(to bottom, #43647a 0%, #283e4f 100%);
  border-radius: 50%;
  color: rgba(134, 134, 134, 0.7);
  background: linear-gradient(to bottom, #43647a 0%, #283e4f 100%);
  text-indent: -35px;
  line-height: 0.6;
  font-size: clamp(10px, 1vw + 5px, 10px);
}

.card-item-desc li {
  position: relative;
  padding-left: 8px;
}

.card-item-desc li::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -6px;
  width: 8px;
  height: 2px;
  border: 2px solid linear-gradient(to bottom, #43647a 0%, #283e4f 100%);
  color: rgba(134, 134, 134, 0.7);
  background: linear-gradient(to bottom, #43647a 0%, #283e4f 100%);
  text-indent: -35px;
  line-height: 0.6;
  font-size: clamp(10px, 1vw + 5px, 10px);
}

.card-section {
  display: none;
}

.card-section.is-active {
  display: block;
  animation: fadeIn 0.9s both;
}

.card-buttons {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-top: auto;
  position: sticky;
  bottom: -2px;
  left: 0;
}

.card-buttons button {
  flex: 1 1 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: 0;
  border: 0;
  padding: 15px 5px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #95b3c7;
  transition: 0.3s;
  outline: 0;
  font-weight: 500;
  font-size: clamp(14px, 1.4vw + 7px, 14px);
}

.card-buttons button.is-active,
.card-buttons button:hover {
  color: #283e4f;
  border-bottom: 1px solid #95b3c7;
  background: linear-gradient(
    to bottom,
    rgba(68, 100, 122, 0) 0%,
    rgba(69, 100, 122, 0.2) 44%,
    rgba(70, 100, 122, 0.4) 100%
  );
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(40px);
  }

  100% {
    opacity: 1;
  }
}

.card-contact-wrapper {
  margin-top: 20px;
}

.card-contact {
  display: flex;
  align-items: center;
  color: #283e4f;
  cursor: pointer;
  font-size: clamp(14px, 1.4vw + 7px, 14px);
}

.card-contact a {
  display: flex;
  align-items: center;
  font-size: clamp(10px, 1vw + 5px, 10px);
}

.card-contact + .card-contact {
  margin-top: 16px;
}

.card-contact svg {
  flex-shrink: 0;
  width: 30px;
  min-height: 34px;
  margin-right: 12px;
  transition: 0.3s;
  padding-right: 12px;
  border-right: 1px solid #c6dbe9;
}

.card-reuniao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  button {
    background: rgb(135, 181, 206);
    border: none;
    color: #283e4f;
    text-align: center;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.btnHover {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.btnHover text {
  position: relative;
  z-index: 5;
  transition: color 1s;
}

.btnHover:hover text {
  color: #95b3c7;
}

.btnHover span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  background: #182738;
  transform: translate(-50%, -50%);
  transition: width 1s, padding-top 1s;
}

.btnHover:hover span {
  width: calc(100% * 2.25);
  padding-top: calc(100% * 2.25);
}

.marca a {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.marca img {
  margin-top: 10px;
  max-width: 80px;
  max-height: 120px;
  position: relative;
  z-index: 2;
  transition: opacity 0.6s;
}

.marca img:hover {
  opacity: 1;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9));
}

.marca a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("assets/marcaHover.gif") no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1;
}

.marca a:hover::after {
  opacity: 0.3;
}

@media (max-width: 320px) {
  .card {
    height: auto;
  }
  .card-fullname {
    font-size: clamp(10px, 1vw + 5px, 10px);
  }
  .card-contact svg {
    display: none;
  }
  .card-buttons {
    flex-direction: column;
  }
  .card-buttons .is-active {
    font-size: clamp(6px, 0.6vw + 3px, 6px);
  }
}

@media (max-width: 280px) {
  .card {
    overflow-y: auto;
  }
  #experience {
    overflow-y: auto;
    height: 1200px;
  }
  .card-content {
    padding: 10px;
  }
  .card-timeline:after {
    display: none;
  }
  .card-item:after {
    display: none;
  }
  .card-item {
    padding: 0;
    margin-bottom: 24px;
  }
  .card-contact a {
    font-size: clamp(12px, 1.2vw + 6px, 12px);
  }
  .contact-me {
    text-align: center;
  }
}
